body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-image: url('images/fond-papier-peint.jpg');
}
header>nav {
    
    color: #fff;
    padding: 10px 0; 
}
.container {
    width: 50vw; 
    padding: 0 20px; 
    text-align: justify;
}

nav ul {
    list-style-type: none; /* Suppression des puces */
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: #333;
    display: inline; /* Affichage en ligne pour les éléments de liste */
    padding-right: 1vw;
    padding-left: 1vw;
}

nav ul li:hover {
    background-color: #555;
}

nav ul li a {
    color: #fff;
    text-decoration: none; /* Suppression du soulignement des liens */
    font-weight: bold; /* Police en gras */
}

nav ul li a:hover {
    text-decoration: none; /* Soulignement au survol */
}

#accueil>aside {
    float: left;
    margin-right: 1vw;
}
#accueil>aside>img {
    height: 200px;
    width: auto 
}